.icon-add{
    background: rgb(103, 233, 91);
    border-radius: 100%;
    color: white;
    margin-right: 10px !important;
}

.icon-remove{
    background: rgb(236, 90, 90);
    border-radius: 100%;
    color: white;
}

